.container{
    display:flex;
    flex-direction: column;
    white-space: pre-line;
}
.test {
    width: 30%;
    background-color: black;
    color: blueviolet;
    padding: 50px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    transition: 300ms ease-in-out;
}
.test:hover {
    background-color: grey;
}

.reset {
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}

.routeBMI {
    margin:auto;
    margin-top: 10px;
    padding: 10px;
}